<!DOCTYPE html>
<html>
<head>
	<title>Vue.Js</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
	<div class="nav-bar"></div>
	<div id="app">
		<div class="cart">
			<p>Cart ({{ cart.length }})</p>
		</div>	
		<product :premium="premium" @add-to-cart="updateCart" @remove-to-cart="remCart"></product>

	</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="text/javascript">
	Vue.component('product-reveiw', {
		template:`
		<form class="review-form" @submit.prevent="onSubmit">
			<p>
				<label for="name">Name:</label>
				<input id="name" v-model="name" placeholder="name">
			</p>
			
			<p>
				<label for="review">Review:</label>      
				<textarea id="review" v-model="review"></textarea>
			</p>
			
			<p>
				<label for="rating">Rating:</label>
				<select id="rating" v-model.number="rating">
				<option>5</option>
				<option>4</option>
				<option>3</option>
				<option>2</option>
				<option>1</option>
				</select>
			</p>
				
			<p>
				<input type="submit" value="Submit">  
			</p>    
			
			</form>
		`,
		data (){
			return {
				name: null,
				review: null,
				rating: null,
			}
		},
		methods: {
			onSubmit() {
				let productReview = {
					name: this.name,
					review: this.review,
					rating: this.rating
				}
				this.$emit('review-submitted', productReview)
				this.name = null
				this.review = null
				this.rating = null
			}
		}
	})

	Vue.component('product-details', {
		props: {
			details: {
				type: Array,
				required:true
			}
		},
		template: `
		<ul>
			<li v-for="detail in details"> {{ detail }}</li>
		</ul>
		`			
	})

	Vue.component('product', {
		props: {
			premium: {
				 type: Boolean,
				 required:true
			}
		},
		template: `
		<div class="product">
			<div class="product-image">
				<img :src="image">
			</div>
			<div class="product-info">
				<h1>{{title}}</h1>
				<p v-show="inStock">In stock</p>
				<p v-show="!inStock" class="outofStock">Out of stock</p>
				<p>{{ sale }}</p>
				<p>Shipping :  {{ shipping }}</p>
				<product-details :details="details"></product-details>

				<div v-for="(variant, index) in variants" :key ="variant.variantID" >
					<div class="color-box" 
					:style="{backgroundColor:variant.variantColor}"
					@mouseover="updateProduct(index)"></div>
				</div>

				<h6 style="margin-bottom: 0;">ADD/REMOVE from Cart</h6>
				<button @click="addToCart" 
					:disabled="!inStock"
					:class="{disabledButton: !inStock}" >+</button>
				<button @click="removeFromCart"
					:disabled="!inStock"
					:class="{disabledButton: !inStock}" >-</button>
			</div>

			<div>
				<h2>Reviews</h2>
				<p v-if="!reveiws.length">There are no reviews yet.</p>
				<ul>
					<li v-for="reveiw in reveiws">
						<h5 style="margin:0">{{ reveiw.name }}</h5>
						<p>{{ reveiw.review }}</P>
						<small>Rating : {{ reveiw.rating }}</small>
					</li>
				</ul>
			</div>
			<product-reveiw @review-submitted="addReveiw"></product-reveiw>
		</div>
		`,
		data () {
			return {
				brand : 'Nike',
				product: 'socks',
				selectedVariant : 0,
				details: ['80% Cotton', 'Multi Colours' , 'Imported'],
				onSale:true,
				variants: [
					{
					variantID: 123457,
					variantColor :"Green",
					variantImage: './imgs/vmSocks-green.jpg',
					variantQuantity: 10
					},
					{
					variantID : 123458,
					variantColor : "Blue",
					variantImage : './imgs/vmSocks-blue.jpg',
					variantQuantity: 0
					}
				],
				reveiws: []
			}
		},	
		methods: {
			addToCart: function(){
				this.$emit('add-to-cart',this.variants[this.selectedVariant].variantID)
			},
			removeFromCart: function () {
				this.$emit('remove-to-cart',this.variants[this.selectedVariant].variantID)
			},
			updateProduct: function(index){
				this.selectedVariant = index;
			},
			addReveiw: function(productReview) {
				this.reveiws.push(productReview)
			} 
		},
		computed: {
			title() {
				return this.brand + ' ' + this.product
			},
			image(){
				return this.variants[this.selectedVariant].variantImage
			},
			inStock () {
				return this.variants[this.selectedVariant].variantQuantity
			},
			sale() {
				if(this.onSale) {
					return this.brand + ' ' + this.product + ' on Sale !'
				} 
					return this.brand + ' ' + this.product + ' not for sale !'
				
			},
			shipping() {
				if(this.premium) {
					return "Free"
				}
					return "$2.99"
			}
		}
		
	})

	var app = new Vue({
		el : '#app',
		data: {
			premium : true,
			cart :[],
		},
		methods: {
			updateCart(id){
				this.cart.push(id)
			},
			remCart(id){
				if(this.cart.length != 0 ) {
				this.cart.pop(id)
				}
			}
		}
		
	})
</script>
</body>
</html>